<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
  
  <div ><h4 > <%=project.title %> </h4>
  <p> <%= project.donation_goal%> </p>
  </div>

  <div> <%= link_to('Edit this project', edit_project_path(project))%>
  </div>
    </p> 
  <% end %>
</div>

